/* Full Screen Background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", Arial, sans-serif;
}

/* Transparent soft overlay */
.overlay {
    background: rgba(255, 240, 245, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */
.login-box {
    width: 350px;
    padding: 25px;
    background: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 182, 193, 0.7);
}

.login-box h2 {
    margin: 0;
    color: #ff6fa9;
    font-size: 26px;
}

/* Tagline */
.tagline {
    color:  #ff6fa9;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Input Fields */
.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: 2px solid #ffadd6;
    outline: none;
}

/* Cute Button */
.login-box button {
    width: 95%;
    padding: 14px;
    margin-top: 10px;
    background: #ff6fa9;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.login-box button:hover {
    background: #ff4f94;
}

/* Show Password Text */
.show-pass {
    font-size: 14px;
    color: #cc4a7e;
}

/* Message text */
.message {
    margin-top: 10px;
    font-size: 15px;
}
